/* AIの解答部分の背景色を薄い緑色に */
.ai-response {
    background-color: #e0f7e0; /* 薄い緑色 */
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.system-response {
    color:#ffffff;
    background-color: #034e03; /* 濃い緑色 */
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    color:#063706
}

input[type="text"] { 
    width: 80%;
}

input[type="submit"]{
    background-color: #f1fcf1;
    color: #063706;
    border: 2px solid #063706;
    border-radius: 4px;
}

button{
    background-color: #f1fcf1;
    color: #063706;
    border: 2px solid #063706;
    border-radius: 4px;
    margin: 4px; 
}