@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
/******* ヘッダーのスタイル ********/
nav {
    background: #fff;
    width: 100%;
}

/* ヘッダーを固定させる */
nav.fixed {
    position: fixed;/*fixedで固定*/
    right: 0;
    top: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
}

nav ul {
    justify-content: flex-end;
    display: flex;
    list-style: none;
}

.item {
    margin: 0 2em;
    padding: 17px 0;
    font-weight:bold;
}

.item a {
    color: #48D1CC;
    text-decoration: none;
}

.item a:hover{
    color: #0000FF;
}

.explanation{
    border:solid 3px #e5ffe5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 30px;
    background-color:#e5ffe5;
    font-family: "Noto Sans JP";
    color: #300
}

.selection{
    display: inline-block;
    text-align: center;
    border:solid 3px #e5ffe5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    font-family: "Arial black";
    color: #300;
}