@import url('https://fonts.googleapis.com/css?family=Kosugi');

/* 全体レイアウトを縦方向に整える */
body {
    display: flex;
    flex-direction: column;
    align-items: center;  /* 中央揃え */
    justify-content: flex-start; 
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Kosugi', sans-serif;
}


.login-container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 20px; /* ヘッダーとフォームの間隔 */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
    width: 100%;
}

/* ログインボタンのスタイル */
button {
    margin-top: 10px; /* 上下の間隔を調整 */
}


