body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-right: 0; /* 目次の幅を考慮して調整 */
}

.section {
    border: 2px solid #ccc; /* 枠線の色を指定 */
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8ff;
    margin-bottom: 20px;
    margin-right: 240px; 
}

.section#myBody {
    background-color: #f0f8ff;
}

.section#sex {
    background-color: #fff0f0;
}

.section#masturbation {
    background-color: #f0fff0;
}

.section#menstruation {
    background-color: #fffaf0;
}

/* 目次 */
.toc-container {
    position: fixed;
    top: 250px;
    right: 20px;
    border: 2px solid #007bff;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000; /* 他のコンテンツの上に表示 */
}


/* 目次のリンク部分を縦に並べる */
.toc-container a {
    display: block;  /* 各リンクを縦に並べる */
    margin-bottom: 10px;
    text-decoration: none; 
    color: #007bff;  /
}

.toc-container a:hover {
    text-decoration: underline;  
}

/* スマホ画面サイズ以下で目次を非表示 */
@media (max-width: 768px) {
    .toc-container {
        display: none;
    }

    /* スマホ画面サイズ以下で記事部分を画面横幅いっぱいに広げる */
    .section {
        margin-right: 0; /* 目次の幅を考慮していたマージンをリセット */
        width: 100%; /* 横幅いっぱいに広げる */
        box-sizing: border-box; /* パディングとボーダーを幅に含める */
    }

    /* スマホサイズでタイトルのフォントサイズを小さくする */
    h1 {
        font-size: 1.5rem; /* 例: 1.5remに設定 */
    }
}
