<link rel="stylesheet" href="../static/scripts/header.css"><!-- CSS完成したらこの行削除 -->
<!-- CSS完成したらこの行有効にする<link rel="stylesheet" href="{{ url_for('static', filename='scripts/header.css')}}">-->
 
<nav>
    <div class="container">
        <a href="/home" class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </a>
        <p> {{ status }}：{{session['username']}} さん</p>
        <ul class="menu">
            <li><a href="/Home_after">ホーム</a></li>
            <li><a href="/AIChat">AIChat</a></li>
            <li><a href="/Tips">Tips</a></li>
            <li><a href="/CounselorChat">カウンセラーに相談</a></li> 
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

