<link rel="stylesheet" href="../static/scripts/header.css"><!-- CSS完成したらこの行削除 -->
<!-- CSS完成したらこの行有効にする<link rel="stylesheet" href="{{ url_for('static', filename='scripts/header.css')}}">-->
 
<nav>
    <div class="container">
        <a href="/" class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </a>
        <ul class="menu">
            <li><a href="/">ホーム</a></li>
            <li><a href="/AIChat">AIChat</a></li>
            <li><a href="/Tips">Tips</a></li>
        </ul>
    </div>
</nav>